version: '3.8'
services:
  ganache:
    image: trufflesuite/ganache:latest
    ports:
      - "7545:8545"
    command: "--accounts 10 --defaultBalanceEther 100"

  backend:
    build: ./backend
    ports:
      - "8001:8001"
    depends_on:
      - ganache
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
