services:
  ganache:
    image: trufflesuite/ganache:latest
    ports:
      - "7545:8545"
    command: "--accounts 10 --defaultBalanceEther 100"

  backend:
    build:
      context: ./backend
    ports:
      - "8001:8001"
    depends_on:
      - ganache
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
